.kotak-menu {
    background-color: var(--pampas);
    width: 60%;
    height: 100%;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

