.counter-css {
    width: 1.5rem;
    background: #FEBD2D;
    color: black;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 7px 0 7px;
    margin: 0 4px 0 4px;
}