.kotak-home {
    /*align-items: flex-start;*/
    display: flex;
    width: 100vw;
    height:92vh;
}

.kotak-cart {
    background-color: var(--pampas);
    width: 15%;
    padding: 0.5rem 0;
    padding-right: 0.5rem;
}

.kotak-isi {
    background-color: var(--pampas);
    width: 25%;
    padding: 0.5rem 0.5rem;
    overflow-y: scroll;
}

.item-child:last-child{
    margin-bottom: 100px;
}