.item-button {
    border-radius: 20px;
    background-color: #F5F3EF;
    padding: 6px 11px;
    margin-left: 10%;
    margin-top: 10px;
    border: 2px solid #E5E3E1;
    color: black;
    width:177px;
}

.item-button:hover {
    background-color: #FEBD2D;
    color: black;
    border: 2px solid #E5E3E1;
}