:root {
    --black: #000000;
    --lightning-yellow: #febd2d;

    --font-size-xxl: 24px;
    --font-size-xxxl: 36px;
    --white: #ffffff;
    --font-family-roboto: "Roboto", Helvetica;
    --font-family-shanti: "Shanti", Helvetica;
    --bon-jour: #e5e3e1;
    --pampas: #f5f3ef;
}


.border-1px-bon-jour {
    border: 1px solid var(--bon-jour);
}

